<phpunit bootstrap="app/autoload.php">
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_DIR" value="./app" />
    </php>

    <testsuites>
        <testsuite>
            <file>src/AppBundle/Tests/Service/CsvImportServiceTest</file>
        </testsuite>
    </testsuites>
</phpunit>